---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Contact">
    <div class="relative flex flex-col items-center justify-center h-[10rem]">
        <h1>Contact</h1>
    </div>
</Layout>