---
import '@/styles/globals.css'
import '@fontsource-variable/exo-2';
---


<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>Chmpy</title>
</head>
<body class="container ">
<h1 class="text-3xl text-center">Chmpy Dot Com</h1>
</body>
</html>

<style>
    body {
        font-family: 'Exo 2 Variable', sans-serif;
    }
</style>


